.fr{
		float: right;
}
.active-class{
	background-color: aqua;
	color: black;
}
.fl{
	float: left;
}
.table_font{
	font-size: 15px;
	font-weight: 600;
	font-family: '楷书';
}
.base-container{
	width: 100%;
}